*{
  font-family: "Source Sans Pro";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.div-aside{

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2;
  grid-auto-flow: column;

}

.section-left-aside{
  width: 50vw;
  height: 100%;

}

.left-aside-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.opacity-div{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  display: none;
}


.section-right-aside{
  width: 50vw;
  height: 100%;
}

.p-tittle{
  font-size: 2.8rem;
  margin-top: vh;
  font-family: "Noto Serif";
  padding-left: 9vw;
  transform: translateX(-5vw);
}


.input-style{
  border: none;
  width: 30vw;
  border-bottom: 0.4vh solid #A89E9E;
  font-family:"Source Sans Pro";
  font-size: 1.45rem;
  padding-bottom: 0.25vw;
  color: #3E3A3A;
  margin-top:2vw;
}

.input-style:focus {
  outline: none;
  border-bottom: 0.4vh solid #F50679; 
  transition: 0.4s;
}

.input-style:hover{
  border-bottom: 0.4vh solid #F50679; 
}

.input-style::placeholder{
  color: #3E3A3A;
  font-size: 1.45rem;
}

.p-esqueceu{
  color: #000;
  font-size: 1.45rem;
  padding-left: 17vw;
}


.btn-login, .btn-cadastro{
  border: none;
  background:none;
  font-size: 2rem;
  /*font-family:"Source Sans Pro";*/
  color: #fff;
  width: 30vw;
  height: 6.5vh;
  border-radius: 1vh;
  background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
  cursor: pointer;
}

.btn-login:hover, .btn-cadastro:hover{
  background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
  font-weight: bold;
}

.p-ainda{
  font-size: 1.45rem;
  color: #000;
}

.link-p{
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.link-p:hover{

  color: #F50679;

}